$background: #f5f5f5;

.ft_linear_regression {
  background-color: $background;
  .card {
    background-color: $background;
  }
  input.form-control {
    background-color: $background !important;
  }
}
