.navbar {
  background-color: var(--colordark);
}

.nav-link {
  display: block;
  color: var(--navbarcolor) !important;
  &.active {
    // border-color: var(--navbarcolorhover) !important;
    color: var(--navbarcolorhover) !important;
  }
  &:hover {
    // border-color: var(--navbarcolorhover) !important;
    color: var(--navbarcolorhover) !important;
  }
}

.sidenavbar {
  min-height: calc(100vh - var(--navbarHeight));
  background-color: var(--colordark);
  border-right: 0.05rem solid gray;
}

@media (max-width: 1024px) {
  .sidenavbar {
    min-height: 0px;
    display: none;
  }
}
