:root {
  --colorSideLink: rgb(23, 27, 65);
  --colorSideLinkHover: rgb(182, 182, 182);
  --colorSideLinkDisabled: rgba(255, 255, 255, 0.25);
  --navbarbgcolor: #111827 !important;
  --navbarcolor: rgba(255, 255, 255, 0.55);
  --navbarcolorhover: #fff;
  --navbarHeight: 56px;
  --colordark: #111827 !important;
}
