:root {
  --colorSideLink: rgb(23, 27, 65);
  --colorSideLinkHover: rgb(182, 182, 182);
  --colorSideLinkDisabled: rgba(255, 255, 255, 0.25);
  --navbarbgcolor: rgba(33, 37, 41, 1) !important;
  --navbarcolor: rgba(255, 255, 255, 0.55);
  --navbarcolorhover: #fff;
  --navbarHeight: 56px;
}
